<div class="row">
    <div class="col-md-5 m-4">
        <div class="card">

            <div class="card-body">
                <%= image_tag gravatar_for(current_user), alt: current_user.name %>
                <h2><%= current_user.name %></h2>
                <%= current_user.email %>
                <div>
                    <%= link_to "Update Profile",edit_user_path(current_user),class:"btn btn-info mt-2" %>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 m-4">
        <div class="card">
            <div class="card-header">
                <p>Activities feed</p>
            </div>
            <div class="card-body">
                <% @activities.each do |activity| %>
                    <% if activity.user == current_user %>
                        You
                    <% else%>
                        <%= activity.user.name %>
                    <% end %>
                    <% if activity.action_type == "Relationship" %>
                        followed <%= User.find(activity.action.followed_id).name %><br>
                    <% else %>
                        learned <%= activity.action.result %> of <%= activity.action.category.words.count %> in <%= activity.action.category.title %><br>
                    <% end%>
                <% end %>
            </div>
        </div>
    </div>

</div>