<div class="jumbotron">
    <div class="row">
        <div class="container m-4 col-4">
            <h2 class="mb-5">Dash Board</h2>
            <div class="card" style="width: 15rem">
                <%= image_tag gravatar_for(@user), alt: @user.name %>
                <div class="media-body m-4">
                    <h3><%= @user.name %></h3>
                </div>
                <div class= "row">
                    <div class="col ml-2">
                        <%= @user.following.count %>
                        <p>following</p>
                    </div>
                    <div class="col">
                        <%= @user.followers.count %>
                        <p>follower</p>
                    </div>
                </div>

                <% if @user != current_user %>
                    <% if current_user.relationship(@user) %>
                        <%= button_to "Unfollow", relationship_path(current_user.relationship(@user)), method: :delete, class: "btn btn-sm btn-danger m-2" %>
                    <% else %>
                        <%= button_to "Follow", relationships_path , params: { followed_id: @user.id }, class: "btn btn-sm btn-success m-2" %>
                    <% end %>
                <% end %>

            </div>
        </div>

        <div class="container mt-4 col-6">
            <h2 class="text-center m-2">Activities</h2>
            <% @activities.each do |activity| %>
                <% if activity.user == current_user %>
                    You
                <% else%>
                    <%= activity.user.name %>
                <% end %>
                <% if activity.action_type == "Relationship" %>
                    followed <%= User.find(activity.action.followed_id).name %><br>
                <% else %>
                    learned <%= activity.action.result %> of <%= activity.action.category.words.count %> in <%= activity.action.category.title %><br>
                <% end%>
            <% end %>

        </div>

    </div>
</div>
