<h1 class="text-center m-2"><%= @lesson.category.title %></h1>

<div class="container">
    <div class="row justify-centent-around">
        <div class="col-6 m-auto">
            <div class="card m-3">
                <%= form_for [ @lesson , @answer ] do |f| %>
                    <%= f.hidden_field :word_id ,value: @word.id %>
                    <div class="category-title">
                        Q. <%= @word.content %> =
                    </div>
                    <% @word.choices.each do |choice| %>
                        <div class="container">
                            <div class="row justify-centent-around">
                                <div class="word-choice m-auto">
                                    <%= f.hidden_field :choice_id , value: choice.id %><br>
                                    <%= f.submit choice.content , class: "btn btn-info mb-1" %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>