<h1 class="text-center">Administration Categories</h1>

<div class="btn-new">
    <%= link_to "New Category" , new_admin_category_path , class: "btn  btn-info m-3" %>
</div>

<table class="mt-4">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Settings</th>
        </tr>
    </thead>

    <tbody>
        <% @categories.each do |category| %>
        <tr>
            <td><%= category.title %></td>
            <td><%= category.description %></td>
            <td><%= link_to "Edit" , edit_admin_category_path(category) , class: "btn" %> / <%= link_to "Delete" ,"#" , class: "btn" %></td>
        </tr>
        <% end %>
    </tbody>
</table>



