<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "E-learning",  root_path ,class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-item nav-link"%>
        </li>
        <% if logged_in? %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.name %>
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <%= link_to "Profile", user_path(current_user), class: "nav-item dropdown-item" %>
                    <%= link_to "Edit account", edit_user_path(current_user), class: "nav-item dropdown-item" %>
                    <%= link_to "Log out", logout_path, method: :delete, class: "nav-item dropdown-item" %>
                    <div class="dropdown-divider"></div>
                    <%= link_to "Administration" ,admin_users_path ,class: "nav-item dropdown-item"%>
                </div>
            </li>
            <li class="nav-item">
                <%= link_to "Lessons", root_path, class: "nav-item nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Users", users_path, class: "nav-item nav-link" %>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to "Sing UP", new_user_path, class: "nav-item nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Log In" ,new_session_path, class: "nav-item nav-link" %>
            </li>
        <% end %>
      </ul>
  </div>
</nav>